OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1
BGE_MODEL_NAME=BAAI/bge-large-zh-v1.5
BGE_MODEL_CACHE_DIR=/Users/baihanshan/Desktop/bge-models
CHROMA_PATH=/Users/baihanshan/Desktop/career-agent-chroma
APP_ENV=development
